In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from datetime import date
import requests

import nba_api
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

## Define season dates

In [79]:
#2015-2016 regular season start and end dates
start_15_16 = '2015-10-27'
end_15_16 = '2016-04-13'

#2016-2017 regular season start and end dates
start_16_17 = '2016-10-25'
end_16_17 = '2017-04-12'

#2016-2017 regular season start and end dates
start_17_18 = '2017-10-17'
end_17_18 = '2018-04-11'

#2018-2019 regular season start and end dates
start_18_19 = '2018-10-16'
end_18_19 = '2019-04-10'

## Team Info

In [77]:
teams_df = pd.DataFrame(teams.get_teams())
teams_df.rename(columns={'id':'TEAM_ID'}, inplace=True)
teams_df.head()

,abbreviation,city,full_name,TEAM_ID,nickname,state,year_founded
0,ATL,Atlanta,Atlanta Hawks,1610612737,Hawks,Atlanta,1949
1,BOS,Boston,Boston Celtics,1610612738,Celtics,Massachusetts,1946
2,CLE,Cleveland,Cleveland Cavaliers,1610612739,Cavaliers,Ohio,1970
3,NOP,New Orleans,New Orleans Pelicans,1610612740,Pelicans,Louisiana,2002
4,CHI,Chicago,Chicago Bulls,1610612741,Bulls,Illinois,1966

## Get all the games in the LeagueGameFinder

In [81]:
# Get **all** the games so we can filter to an individual GAME_ID
result = leaguegamefinder.LeagueGameFinder()
all_games = result.get_data_frames()[0]
all_games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22019,1612709926,MHU,Memphis Hustle,2021900026,2020-03-15,MHU vs. IWA,None,120,56,...,1.000,7,17,24,13,5,1,4,7,15.6
1,22019,1612709911,IWA,Iowa Wolves,2021900026,2020-03-15,IWA @ MHU,None,107,41,...,0.833,2,15,17,8,1,7,11,8,-16.2
2,22019,1612709920,RAP,Raptors 905,2021900566,2020-03-11,RAP vs. CPS,W,240,129,...,0.731,14,43,57,23,9,10,21,26,12.6
3,22019,1612709911,IWA,Iowa Wolves,2021900567,2020-03-11,IWA @ RGV,W,240,128,...,1.000,8,36,44,34,11,4,17,22,8.6
4,22019,1612709929,CPS,College Park Skyhawks,2021900566,2020-03-11,CPS @ RAP,L,240,116,...,0.538,8,29,37,27,10,8,15,31,-12.2

In [82]:
#match NBA teams from 'teams_df' with 'all_games' to remove
#all non NBA-games from 'all_games' 
nba_games = pd.merge(teams_df, all_games, on = 'TEAM_ID', how = 'inner')

#remove columns in merged df coming from 'teams_df'
nba_games = nba_games.drop(list(teams_df.columns)[1:],1)

nba_games.head()

,abbreviation,SEASON_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,ATL,22019,ATL,Atlanta Hawks,0021900969,2020-03-11,ATL vs. NYK,L,265,131,...,0.808,15,38,53,26,6,3,17,25,0.0
1,ATL,22019,ATL,Atlanta Hawks,0021900957,2020-03-09,ATL vs. CHA,W,290,143,...,0.593,12,41,53,33,1,5,15,26,5.0
2,ATL,22019,ATL,Atlanta Hawks,0021900943,2020-03-07,ATL @ MEM,L,240,101,...,0.857,14,32,46,23,9,2,14,24,-17.0
3,ATL,22019,ATL,Atlanta Hawks,0021900930,2020-03-06,ATL @ WAS,L,239,112,...,0.667,6,30,36,25,9,4,17,25,-6.0
4,ATL,22019,ATL,Atlanta Hawks,0021900905,2020-03-02,ATL vs. MEM,L,239,88,...,0.938,16,27,43,20,6,8,17,21,-39.0

In [83]:
#mask to filter dates within range
mask_15_16 = (nba_games['GAME_DATE'] >= start_15_16) & (nba_games['GAME_DATE'] <= end_15_16)
mask_16_17 = (nba_games['GAME_DATE'] >= start_16_17) & (nba_games['GAME_DATE'] <= end_16_17)
mask_17_18 = (nba_games['GAME_DATE'] >= start_17_18) & (nba_games['GAME_DATE'] <= end_17_18)
mask_18_19 = (nba_games['GAME_DATE'] >= start_18_19) & (nba_games['GAME_DATE'] <= end_18_19)

In [84]:
#regular season games held between given seasons
nba_games_15_16 = nba_games.loc[mask_15_16]
nba_games_16_17 = nba_games.loc[mask_16_17]
nba_games_17_18 = nba_games.loc[mask_17_18]
nba_games_18_19 = nba_games.loc[mask_18_19]

In [85]:
nba_games_15_16.head()

,abbreviation,SEASON_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
377,ATL,22015,ATL,Atlanta Hawks,0021501221,2016-04-13,ATL @ WAS,L,240,98,...,0.742,9,38,47,22,13,5,22,21,-11.0
378,ATL,22015,ATL,Atlanta Hawks,0021501203,2016-04-11,ATL @ CLE,L,240,94,...,0.533,10,32,42,23,8,6,15,18,-15.0
379,ATL,22015,ATL,Atlanta Hawks,0021501188,2016-04-09,ATL vs. BOS,W,240,118,...,0.818,5,39,44,31,10,10,17,22,11.0
380,ATL,22015,ATL,Atlanta Hawks,0021501173,2016-04-07,ATL vs. TOR,W,239,95,...,0.810,5,36,41,23,4,12,13,19,8.0
381,ATL,22015,ATL,Atlanta Hawks,0021501157,2016-04-05,ATL vs. PHX,W,242,103,...,0.737,13,37,50,26,16,3,16,21,13.0

In [86]:
nba_games_15_16.keys()

Index(['abbreviation', 'SEASON_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME',
       'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [ ]:
#so we want to add a column to the df which contains the total points scored by both teams
unique_games = nba_games_15_16.groupby('GAME_ID').sum()

In [91]:
#lets start to build our features

,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
TEAM_ABBREVIATION,,,,,,,,,,,,,,,,,,,,
ATL,19823,8433,3168,6923,37.607,815,2326,28.835,1282,1638,63.797,679,2772,3451,2100,747,486,1191,1570,295.8
BKN,19767,8089,3136,6920,37.227,531,1508,28.572,1286,1699,61.675,863,2614,3477,1829,627,332,1174,1476,-605.0
BOS,19793,8669,3216,7318,36.091,717,2142,27.495,1520,1929,64.673,950,2733,3683,1981,752,348,1104,1796,263.0
CHA,19871,8479,3036,6922,35.995,873,2410,29.647,1534,1941,65.206,734,2869,3603,1778,595,438,973,1487,223.0
CHI,19905,8335,3165,7170,36.344,651,1753,30.248,1354,1720,64.125,907,2889,3796,1870,495,470,1093,1545,-121.0
CLE,19859,8555,3171,6888,37.880,880,2428,29.721,1333,1783,61.430,873,2777,3650,1861,551,317,1056,1666,492.0
DAL,19990,8388,3064,6900,36.473,806,2342,28.127,1454,1831,65.025,751,2781,3532,1813,560,306,1011,1595,-25.2
DEN,19844,8355,3093,7003,36.273,656,1943,27.620,1513,1974,63.126,941,2718,3659,1858,609,395,1162,1723,-254.0
DET,19879,8361,3111,7087,36.110,740,2148,28.191,1399,2095,55.364,1021,2777,3798,1594,573,304,1063,1557,52.0
GSW,19873,9421,3489,7159,40.055,1077,2592,33.967,1366,1790,62.963,816,2972,3788,2373,689,498,1219,1701,891.0
HOU,19825,8737,3094,6847,37.105,878,2533,28.541,1671,2407,57.364,930,2601,3531,1821,821,430,1250,1790,16.0
IND,19893,8377,3142,6985,36.960,663,1889,28.604,1430,1872,62.593,847,2779,3626,1741,742,391,1176,1641,140.0
LAC,19832,8569,3141,6759,38.229,797,2190,29.944,1490,2152,57.955,721,2727,3448,1873,709,460,1016,1746,351.0
LAL,19733,7982,2880,6956,34.056,639,2016,26.065,1583,2028,63.834,878,2645,3523,1478,593,337,1067,1662,-786.0
MEM,19846,8126,3019,6859,36.257,504,1521,26.870,1584,2024,64.089,916,2497,3413,1697,724,350,1041,1783,-184.0
MIA,19830,8204,3150,6697,38.696,498,1480,27.315,1406,1889,61.326,807,2811,3618,1709,553,531,1085,1502,135.0
MIL,19844,8122,3145,6740,38.331,440,1277,28.279,1392,1863,61.254,858,2559,3417,1895,672,475,1200,1695,-341.0
MIN,19880,8398,3095,6668,38.124,455,1347,27.512,1753,2213,65.201,821,2587,3408,1916,656,375,1177,1696,-290.0
NOP,19789,8423,3153,7040,36.812,702,1951,29.326,1415,1823,63.899,782,2712,3494,1818,633,342,1069,1713,-311.0
NYK,19797,8065,3022,6886,36.088,610,1762,28.123,1411,1753,66.453,850,2788,3638,1682,467,466,1038,1616,-224.0
OKC,19854,9038,3372,7082,39.095,678,1945,28.700,1616,2067,64.476,1071,2916,3987,1883,603,487,1269,1691,597.0
ORL,19907,8369,3242,7120,37.452,636,1818,28.680,1249,1649,62.169,843,2709,3552,1933,673,417,1115,1701,-131.0
PHI,19823,7988,2970,6887,35.479,764,2255,27.670,1284,1850,57.209,777,2605,3382,1765,680,495,1279,1780,-841.0
PHX,19698,8271,3051,7018,35.699,738,2118,28.238,1431,1905,61.219,943,2733,3676,1701,632,313,1358,1858,-546.0
POR,19810,8622,3167,7040,36.975,864,2336,30.246,1424,1889,61.643,948,2782,3730,1748,562,380,1154,1782,68.0
SAC,19811,8740,3283,7083,38.105,660,1839,29.544,1514,2089,58.991,868,2760,3628,2009,733,368,1274,1676,-203.0
SAS,19702,8490,3289,6797,39.749,570,1518,31.135,1342,1672,66.239,770,2831,3601,2010,677,485,1028,1433,872.0
TOR,19798,8422,3006,6669,37.115,708,1915,30.033,1702,2190,63.838,836,2724,3560,1536,636,449,994,1610,369.0
UTA,19951,8010,2957,6593,36.916,694,1956,29.198,1402,1885,61.094,880,2665,3545,1554,631,425,1162,1655,147.0
WAS,19752,8534,3238,7033,37.817,709,1983,29.374,1349,1849,60.147,743,2688,3431,2005,708,323,1138,1708,-41.0